:root {
	--font-family: Poppins, sans-serif;
	--bold-font: 700;
	--bg-color: rgb(238, 233, 245);
}

* {
	margin: 5px;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-family);
}

img.avatar{
    vertical-align: bottom;
}

main {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

h2 {
    padding:6% 0% 6% 0%;
    color: black;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 22px;
}

footer {
    color: rgb(255, 255, 255);
    height: auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: rgb(24, 104, 183);
    font-weight: 800;
    font-size: 18px;
}

div.footer
{  
    display: inline-flex;
}

img.GitHub {
	transition: transform .3s
}

img.GitHub:hover {
	transform: scale(1.1);
    cursor:pointer;
}

img.html5 {
	-webkit-transform: scale(1.0);
	transform: scale(1.0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

img.html5:hover {
	margin-left: 0;
    cursor:pointer;
}

img.js {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}

img.js:hover {
	-webkit-transform: rotate(10deg) scale(1.2);
	transform: rotate(10deg) scale(1.2);
	-webkit-transition: .9s ease-in-out;
	transition: .5s ease-in-out;
    cursor:pointer;
}

img.reactjs {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}

img.reactjs:hover {
	-webkit-transform: rotate(-10deg) scale(1.2);
	transform: rotate(-10deg) scale(1.2);
	-webkit-transition: .9s ease-in-out;
	transition: .5s ease-in-out;
    cursor:pointer;
}

html {
	scroll-behavior: smooth;
}

p {
	flex-wrap: wrap;
}

body {
	font-family: var(--font-family);
	color: rgb(4, 17, 29);
}

ul {
	list-style-type: none;
}

a {
	color: rgb(112, 108, 108);
    text-decoration: auto;
}

a:hover {
    color: rgba(4, 17, 29, 0.75);
}

nav {
	box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
	max-width: 100vw;
	top: 0px;
	z-index: 110;
	transition: top 0.5s ease 0s;
	background-color: rgb(255, 255, 255);
	display: flex;
	height: 20vh;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	color: rgba(4, 17, 29, 0.75);
	padding: 0px 20px;
	width: 100%;
}

nav h1 {
	color: black;
	font-family: var(--font-family);
	font-weight: 800;
	font-size: 24px;
}

nav ul {
	display: flex;
	gap: 0.75rem;
}

nav ul li {
	font-weight: var(--bold-font);
}

.top {
	position: fixed;
	right: 0.5%;
	bottom: 12%;
	cursor: pointer;
}

.top {
	width: 1.5rem;
	height: 1.5rem;
	opacity: 0.5;
}

@media screen and (max-width: 720px) {
	nav {
		padding: 1.5rem 1rem;
	}
	nav ul {
		position: fixed;
		flex-direction: column;
		top: 86px;
		left: 10%;
		width: 80%;
		text-align: center;
		transform: translateX(120%);
		transition: transform 0.5s ease-in;
	}
	nav ul.show {
		transform: translateX(0);
	}
	nav ul li {
		margin: 8px;
	}
	.burger-menu {
		display: block;
	}
	.footer-container {
		max-width: 23.75rem;
	}
	section#about.about,
	section#work.work,
	section#contact.contact,
	section#resume.resume {
		flex-wrap: wrap;
	}
	div.section_one {
		width: 100%;
	}
}

@media screen and (max-width: 420px) {
	.project-container {
		width: 17.875rem;
	}
	.footer-container {
		max-width: 17.75rem;
	}
	section#about.about,
	section#work.work,
	section#contact.contact,
	section#resume.resume {
		flex-wrap: wrap;
	}
	div.section_one {
		width: 100%;
	}
}